<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ctrl-7x9a3k/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /ctrl-7x9a3k/index.html [L]
</IfModule>
